body{
  background:#fafafb;
}


h1,h2,h3,h4,h5,h6{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
}

p,span, label{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
  }
 
  form {
    margin-bottom: 20px;
  }
 
  label {
    display: block;
    margin-bottom: 5px;
  }
 
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
 
  button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
 
  button:hover {
    background-color: #0056b3;
  }
 
  .result-section {
    margin-bottom: 30px;
  }
 
  h2 {
    margin-bottom: 10px;
  }
 

 
  .result-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  table a{
    word-break: break-word;
  }

  .metric_card_title{
    margin:0px;
    font-weight: 400;
    /* font-size: 0.875rem; */
    line-height: 1.57;
    font-family: "Public Sans", sans-serif;
    color: rgb(140, 140, 140);
  }


  .metric_card_value{
    margin: 0px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.4;
    font-family: "Public Sans", sans-serif;
    color: inherit;
  }

  .grid_container_main{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #results .MuiPaper-root{
    box-shadow: none;
  }

  .final-screenshot-load img{
      max-width: 200px;
  }

  .desktop-layout  .final-screenshot-load img{
    max-width: 400px;
}


/* Carbon footprint section */
.result-section.carbon_footprint .main_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.result-section.carbon_footprint .main_content p{
  color: #6b7280;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.result-section.carbon_footprint .main_content h3{
  font-size: 32px;
  margin: 0px;
}